*{
  background-color:;
}

.App {
  text-align: center;
  border : 1px solid;
  margin : 20px ;
  padding : 15px ;
}

.todoBoard {
  
}

input {
  width : 350px;
  height : 40px;
  border :1px solid;
  border-radius: 100px;
  background-color: white;
  padding : 5px 20px;
}