<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.appro.dao.IcommunityDAO">
		
	<select id="community" resultType="com.project.appro.dto.Community">
		SELECT * FROM PAS_COMMUNITY ORDER BY commu_date DESC
	</select>
	
	<insert id="comWrite">
		INSERT INTO PAS_COMMUNITY ( commu_no, commu_id, commu_title, commu_name, commu_content, commu_date )
		VALUES ( 'commusNum_' || PAS_COMMUNITY_SEQ.nextval,  #{ param1 }, #{ param2 }, #{ param3 }, #{ param4 }, sysdate )
	</insert>	
		
	<select id="comDetail" resultType="com.project.appro.dto.Community">
		SELECT * FROM PAS_COMMUNITY WHERE commu_no = #{ param1 }
	</select>	
	
	<!-- 조회수 -->
	<update id="communityHit">
		UPDATE
			PAS_COMMUNITY
		SET commu_hit = commu_hit + 1
		WHERE commu_no = #{ param1 }
	</update>
		
	<!-- notice -->		
	<select id="notice" resultType="com.project.appro.dto.Notice">
		SELECT * FROM PAS_NOTICE ORDER BY notice_date desc
	</select>
	
	<insert id="noticeWrite">
		INSERT INTO PAS_NOTICE ( notice_no, notice_id, notice_title, notice_name, notice_content, notice_date )
		VALUES ( 'noticeNum_' || PAS_NOTICE_SEQ.nextval, #{ param1 }, #{ param2 }, #{ param3 }, #{ param4 }, sysdate )
	</insert>
	
	<select id="getNoticeDetail" resultType="com.project.appro.dto.Notice">
		SELECT * FROM PAS_NOTICE WHERE notice_no = #{ param1 }
	</select>
	
	<!-- 공지사항 조회수 -->
	<update id="noticehit">
		UPDATE
			PAS_NOTICE
		SET notice_hit = notice_hit + 1
		WHERE notice_no = #{ param1 }
	</update>
	
	<delete id="noticeDelete">
		DELETE FROM PAS_NOTICE WHERE notice_no = #{param1}
	</delete>
	
</mapper>