<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.appro.dao.IcommunityDAO">
		
	<resultMap id="communityMap" type="map">
		<result column="commu_no" property="commu_no" />
		<result column="commu_id" property="commu_id" />
		<result column="commu_name" property="commu_name" />
		<result column="commu_title" property="commu_title" />
		<result column="commu_date" property="commu_date" />
		<result column="commu_content" property="commu_content" />
		<result column="commu_hit" property="commu_hit" />
	</resultMap>
	
	<select id="comCount" parameterType="map" resultType="Integer">
		SELECT 
			count(commu_no)
		FROM PAS_COMMUNITY
		WHERE 1=1
		AND commu_title like '%'||#{schTect}||'%'
	</select>
	
	<select id="community" resultType="map" resultMap="communityMap" >
		SELECT 
			rnum, commu_no, commu_id, commu_name, commu_title, commu_date, commu_content, commu_hit
		FROM
			(
			SELECT
				row_number() over(order by commu_no desc ) rnum,
				commu_no,
				commu_id,
				commu_name,
				commu_title,
				to_char(commu_date, 'YYYY-MM-dd' ) commu_date,
				commu_content,
				commu_hit
			FROM PAS_COMMUNITY
			WHERE 1=1
			AND (commu_title like '%'||#{schText}||'%'
				OR commu_content like '%'||#{schText}||'%')
			)
		WHERE rnum between #{pageNo} * #{listSize} - #{listSize} +1 AND #{pageNo} + #{listSize}
	</select>
	
	<insert id="comWrite">
		INSERT INTO PAS_COMMUNITY ( commu_no, commu_id, commu_title, commu_name, commu_content, commu_date )
		VALUES 
			( 
				(select nvl(max(commu_no),0)+1 from PAS_COMMUNITY),
			  	#{ param1 },
			  	#{ param2 },
			  	#{ param3 }, 
			  	#{ param4 }, 
			  	sysdate
		  	)
	</insert>	
		
	<select id="comDetail" resultType="com.project.appro.dto.Community">
		SELECT * FROM PAS_COMMUNITY WHERE commu_no = #{ param1 }
	</select>	
	
	<!-- 조회수 -->
	<update id="communityHit">
		UPDATE
			PAS_COMMUNITY
		SET commu_hit = commu_hit + 1
		WHERE commu_no = #{ param1 }
	</update>
		
</mapper>