<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.appro.dao.ImemberDAO">

<!--
	CREATE SEQUENCE PAS_MEMBER_SEQ
	START WITH 1
	INCREMENT BY 1;
	
	drop SEQUENCE PAS_MEMBER_SEQ;
	
	select * from PAS_MEMBER;
	
	SELECT member_id FROM pas_member WHERE member_id = 'pas_memNum_2';
	
	delete from PAS_MEMBER;
	
	insert into PAS_MEMBER ( member_id, member_pw, member_name, member_gender, member_dep, member_position )
	values ( 'pas_memNum_' || PAS_MEMBER_SEQ.nextval, '1111', 'system', '', '', '' );
	
	insert into PAS_MEMBER ( member_id, member_pw, member_name, member_gender, member_dep, member_position )
	values ( 'system', '1111', 'system', '-', '-', '-' );
	 -->

	<select id="getMemId" resultType="String">
		SELECT * FROM pas_member WHERE member_id = #{param1}
	</select>
	
	<select id="getMemPw" resultType="String">
		SELECT member_pw FROM pas_member WHERE member_id = #{param1}
	</select>
	
	<select id="getMemName" resultType="String">
		SELECT member_name FROM pas_member WHERE member_id = #{param1}
	</select>
	<select id="getMemPosition" resultType="String">
		SELECT member_position FROM pas_member WHERE member_id = #{param1}
	</select>
	
	<select id="getMemList" resultType="com.project.appro.dto.MemberDTO">
		SELECT
			member_id,
			member_name,
			member_dep,
			member_position,
			member_join 
		FROM pas_member ORDER BY member_join DESC
	</select>
	
	<insert id="memberJoin">
	INSERT INTO PAS_MEMBER 
		( 
			member_id, 
			member_name, 
			member_gender, 
			member_dep, 
			member_position 
		)
	VALUES 
		( 
			'pas_memNum_' || PAS_MEMBER_SEQ.nextval, 
			#{member_name}, 
			#{member_gender}, 
			#{member_dep}, 
			#{member_position} 
		)
	</insert>
	
	<update id="memberUpdate">
		UPDATE PAS_MEMBER
		SET  
			member_dep = #{ member_dep }, 
			member_position = #{ member_position } 
		WHERE member_id = #{ member_id }
	</update>
	
	<select id="getMemberInpor" resultType="com.project.appro.dto.MemberDTO">
		SELECT
			member_id,
			member_name,
			member_join,
			member_gender,
			member_dep,
			member_position
		FROM pas_member 
		WHERE member_id = #{param1}
	</select>
	
	
	<update id="updatePwInfo">
		UPDATE pas_member SET member_pw = #{ param2 } 
		WHERE member_id = #{param1}
	</update>
	
	<delete id="memberDelete">
		DELETE FROM PAS_MEMBER WHERE member_id = #{ param1 }
	</delete>
	
</mapper>