<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.appro.dao.IreportDAO">

	<select id="ReportList" resultType="com.project.appro.dto.Report">
		SELECT 
			* 
		FROM PAS_REPORT re LEFT JOIN PAS_MEMBER mem LEFT JOIN PAS_APPRO appro
		WHERE re.report_id = #{ report_id }
		<choose>
			<when test="member_position == 'DD'">
				OR ( report_status = '결재대기' OR report_name = #{ report_name } )
			</when>
			 <when test="member_position == 'CC'"> 
				OR ( report_status = '' OR list_status = 'd')
			</when>
		</choose>
		ORDER BY report_date DESC
	</select>
	
	<insert id="reportWrite">
		INSERT INTO PAS_REPORT (report_no, report_id, report_name, report_title, report_content, report_status)
	 	VALUES 
		 	(
		 		(select nvl(max(report_no),0)+1 from PAS_REPORT),
		 		#{ report_id },
		 		#{ report_name },
		 		#{ report_title },
		 		#{ report_content },
		 		#{ report_status }
		 	)
	</insert>

</mapper>