body {
  margin: 0;  
  background: linear-gradient(rgb(59, 11, 89), rgb(33, 83, 170), rgb(166, 141, 233));
  height: 100vh;
  color:white;
  
}
/* 스타일로 안보이게 숨기기 */
input { 
  border:none;
  background-color:rgb(59, 11, 89)
}

.inputDark{
  background-color: rgb(37, 20, 55);
}

.noSpeeking {
  display: none;
}

/*  */
.textArea {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  color: rgb(89, 18, 155);
  text-shadow: 1px -1px 1px rgb(99, 55, 141);
  margin:10px;
}

/* 모달창 */
.modal {
  display: none;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.3);
  width: 600px;
  padding: 30px 25px 30px;
  font-weight: lighter;
  text-align: center;
  margin:0 auto;
}

.modalIcon{
  font-size: 20px;
  border: 1px solid;
  border-radius: 100%;
  padding: 5px 10px;
  float: left;
}
.modalIcon > i {
  color: rgb(212, 165, 255);
}

.modalTitle {
  font-size: 30px;
  font-weight: lighter;
  
}
.modal-container{
  margin-top: 20px ;
  text-align: left;
}

.modelItemContainer{
  display: flex;
  justify-content: space-around;
}

.a{
  width: 250px;
}

#modal_item02{
  display: none;
  font-size: 14px;
}
.modalBtn {
  padding: 10px 0 20px;
}
.modalBtn > span  {
  font-size: 25px;
  color: rgb(212, 165, 255);
}

.magic {
  text-align: center;
  margin: 20px auto 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 100px;     
}

.magic  > i {
  margin: 0;
  line-height: 50px;
  font-size: 30px;
  
}

.magic > i:active {
  color:rgb(246, 171, 246);
}

.endMagic {
  border:1px solid rgb(255, 255, 255);
  text-shadow: px 1px -1px white;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255, 0.07);
  
}

.endMagic > i:active {
  color:rgb(132, 161, 255);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sum{
  background-color: rgb(37, 20, 55);

  background-color: rgb(225, 207, 243);
}

#consoleBox {
  font-size: 16px;
}

#consoleBox > i{
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

#miniGameBox > p {
  font-size: 20px;
  margin: 10px auto;
}

.gameResultBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size:14px;
  margin: 20px auto 0;
  padding: 0 100px;
}

.gameIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 90px;
  height: 90px;
  border: 1px solid white;
  border-radius: 100%;
}

.gameResultSign {
  font-size: 50px;
}